*{
        font-family: 'Roboto', sans-serif;

}


.student{
    background-color: #b5adad;
    width:180px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;

 
}
.student h2{
    margin-top: 0;
    color: #333;

}
.student p{
    margin: 5px 0;
    color: #020202;

}




.welcome {
    color: rgb(52, 128, 50);
    
}
.login {
    color: rgb(231, 41, 41);
}




.counter-container {
    margin-top: 20px;

}

.count-display {
    font-size: 30px;
    margin-bottom: 20px;
}
.counter-button{
    font-size: 18px;
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    
}
.counter-button:hover {
    background-color: #45a049;
}





.color-picker-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.color-display {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: 0.25s ease;

}
.color-display .p{
    color:#333;
    font-size: 2rem;
    text-align: center;
}
label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
input[type="color"] {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}


