*{
    font-family: 'Roboto', sans-serif;
}
.card{
    border:2px solid #b5b0b0;
    border-radius:8px;
    box-shadow:2px 2px 12px rgba(48, 21, 21, 0.1);
    padding:16px;
    margin:16px;
    background-color:#fff;
    text-align: center;
    max-width: 250px;
    display :inline-block;
    background-color: #b5b0b0;

}
.card-image{
    max-width: 100%;
    height: auto;
    border-radius: 4px;

}
.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 12px 0;
    color: #101010;
}
.card-desc{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #0b0707;
    margin-bottom: 12px;
}



.button{
    background-color: aquamarine;
    border: 2px solid #008CBA;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}




.student{
    font-family: 'Roboto', sans-serif;
    background-color: #b5adad;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}
.student h2{
    margin-top: 0;
    color: #333;
}




.welcome-message {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #07b627;
    padding:10px;
    border-radius:5px;
    margin:0;
    max-width: 200px;
}
.login-prompt {
    color: rgb(255, 253, 253);
    background-color: #c40c0c;
    padding:10px;
    border-radius:5px;
    margin:0;
    max-width: 300px;
}




.counter-container {
    text-align: center;
    margin-top: 20px;

}

.count-display {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.counter-button{
    font-size: 18px;
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    
}
.counter-button:hover {
    background-color: #45a049;
}





.color-picker-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.color-display {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: 0.25s ease;

}
.color-display .p{
    color:#333;
    font-size: 2rem;
    text-align: center;
}
label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
input[type="color"] {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
